body {
	background: #808080;
}

h1 {
	color: #fffbfb;
}


.square1 {
	width: 150px;
	height: 150px;
	background-color: #fea500;
}

.square2 {
	width: 150px;
	height: 150px;
	background-color: #fea500;
}

.square3 {
	width: 150px;
	height: 150px;
	background-color: #fea500;
}

