body {
	background: #808080;
}

h1 {
	color: #fffbfb;
}

.square {
	width: 150px;
	height: 150px;
	background-color: #fea500;
	margin-bottom: 10px;
}

.square1 {
	
}

.square2 {
	
}

.square3 {
	
}

.square4{
	
}